@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url("@/assets/fonts/Inter/Inter-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src: url("@/assets/fonts/Inter/Inter-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src: url("@/assets/fonts/Inter/Inter-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  src: url("@/assets/fonts/Raleway/Raleway-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Cabinet Grotesk';
  font-weight: 700;
  font-style: normal;
  src: url("@/assets/fonts/CabinetGrotesk/CabinetGrotesk-Bold.woff2") format('woff2');
}
